<launch>
<node name="crawler_detector" pkg="crawler_detector" type="crawler_detector_node.py" output="screen" args="--checkpoints_dir  $(find crawler_detector)/src/CrawlerDetector/checkpoints">
	<remap from="/robot/image_raw" to="/usb_cam/image_raw" /> -->
	<remap from="/crawler/pose" to="/crawler/pose_from_deep" />
	<param name="do_display_detection" type="string" value="True" />
	<param name="pose_tf" type="string" value="camera" />
</node>
</launch>
