<launch>
<node name="crawler_detector" pkg="crawler_detector" type="crawler_detector_node.py" output="screen">
	<!-- <remap from="/usb_cam/image_raw/compressed" to="/robot/image_raw/compressed" /> -->
	<!-- <remap from="/crawler/pose" to="/crawler/pose_from_deep" /> -->
	<param name="do_display_detection" type="string" value="False" />
</node>
</launch>
